.events {
    &__card {
        border-radius: 15px;
        border: 1px solid #2B3927;
        background: radial-gradient(53.16% 91.21% at 48.3% 9.43%, rgba(44, 38, 47, 0.20) 0%, rgba(13, 12, 14, 0.20) 100%);
        backdrop-filter: blur(10px);
        padding: 30px;
        position: relative;

        &.finished {
            border: #000;
        }

        &.canceled {
            border: 1px solid #D23C48;
        }

        &-canceled {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #d23c492a;
            border-radius: 15px;
            z-index: 2;
        }

        &.draft {
            border: 1px solid #742628 !important;
        }

        &.not-allowed {
            border: 1px solid #886535;
        }

        @include media ($sm) {
            padding: 15px;
        }

        &-closed {
            background: #26262c8a;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            //backdrop-filter: blur(1px);
            border-radius: 15px;
        }

        &-date {
            display: flex;
            align-items: center;
            
            &-title {
                font-size: 24px;
            }
        }

        &-title {
            font-size: 32px;
            text-align: left;
            max-width: 500px;
        }

        &-head {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        &-type {
            color: var(--06-second-accent-main, #335781);
            font-family: "Alegreya SC";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 115%; /* 23px */
        }
        
        &-top {
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;

            @include media ($md) {
                flex-wrap: wrap;
            }
        }

        &-marks {
            display: flex;
            align-items: center;
            gap: 30px;

            @include media ($sm) {
                margin-top: 20px;
                justify-content: space-between;
            }
        }

        &-mark {
            color: var(--01-primary-color-5, #D5B0E4);
            font-variant-numeric: lining-nums proportional-nums;

            /* PC/p3 */
            font-family: Alegreya;
            //font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 24px */
            padding: 10px 15px;
            background: #000;
            border-radius: 40px;
            border: 1px solid rgba(129, 86, 146, 0.13);
            background: var(--03-dark-3, #422748);
        }

        &-center {
            display: flex;
            gap: 30px;

            @include media ($md) {
                flex-wrap: wrap;
            }
        }

        &-list {
            display: flex;
            gap: 10px;
            margin-bottom: 30px;
            flex-wrap: wrap;
        }

        &-tag {
            padding: 10px 15px;
            color: var(--04-text-main, #EEE0F1);
            font-variant-numeric: lining-nums proportional-nums;

            /* PC/Button 3 */
            font-family: Alegreya;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
            border: 0;
            border-radius: 40px;
        }

        &-duration {
            background: #335781;
        }
        &-setting {
            background: #4A7548;
        }
        &-genre {
            background: #86489C;
        }
        // &-preparation {
        //     background: #817933;
        // }
        // &-genre {
        //     background: #813333;
        // }
        // &-experience {
        //     background: #454963;
        // }

        &-right {
            position: relative;

            @include media ($md) {
                width: 100%;
            }
        }

        &-price {
            color: var(--04-text-main, #EEE0F1);
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Alegreya;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 26.4px */
            padding: 10px 10px;
            display: inline-block;
            display: flex;
            gap: 10px;
            border-radius: 10px;
            background: var(--Price, linear-gradient(114deg, #4A9A46 -19.41%, #37957A 105.43%));

            &-discount {
                font-size: 14px;
                text-decoration: line-through;
            }

            &.not-allowed {
                background: #886535;
                color: white;
            }

        }
        
        &-marks-block {
            position: absolute;
            left: 10px;
            bottom: 15px;
            display: flex;
            gap: 10px;
        }
        
        &-marks-top {
            position: absolute;
            left: 10px;
            top: 15px;
            display: flex;
            gap: 10px;
        }
        
        &-allowed {
            color: var(--04-text-main, #EEE0F1);
            font-family: Alegreya;
            font-size: 14px;
            padding: 10px 20px;
            background: #886535;
            display: flex;
            border-radius: 10px;
            gap: 10px;
            align-items: center;
            &.allowed {
                background: var(--05-success-main, #4A7548);
            }
        }

        &-draft {
            color: var(--04-text-main, #EEE0F1);
            font-family: Alegreya;
            font-size: 14px;
            padding: 10px 20px;
            background: #742628;
            display: flex;
            border-radius: 10px;
            gap: 10px;
            align-items: center;
        }

        &-bottom {
            margin-top: 20px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            gap: 30px;

            &-content {
                display: flex;
                align-items: center;
                gap: 30px;

                @include media ($md) {
                    gap: 0;
                    justify-content: center;
                    width: 100%;
                }

            }

            @include media ($md) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &-buttons {
            display: flex;
            gap: 10px;

            @include media ($sm) {
                flex-wrap: wrap;
            }
        }

        &-link {
            color: var(--04-text-main, #EEE0F1);
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* PC/Button 1 */
            font-family: "Alegreya SC";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
            padding: 16px 24px;
            border-radius: 10px;
            background: var(--03-dark-2, #18171E);
            transition: 300ms;

            @include media ($md) {
                width: 100%;
            }

            &:hover {
                background: #000;
            }
        }

        &-img {
            max-width: 300px;
            height: 300px;
            border-radius: 10px;

            @include media ($md) {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        &-params {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;
        }

        &-button {
            border-radius: 10px;
            background: var(--01-primary-color-MAIN, #86489C);
            color: var(--04-text-main, #EEE0F1);
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* PC/Button 1 */
            font-family: "Alegreya SC";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
            padding: 16px 34px;
            border: 0;
            transition: 300ms;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &.finished {
                background: #301e2e;
                width: 400px;
            }

            &.draft {
                background: #D23C48;
                width: 400px;

                &:hover {
                    background: #e45763;
                }
            }

            @include media ($md) {
                width: 100% !important;
            }
            
            &:hover {
                background: #ac66c5;
            }
        }

        &-date {
            color: var(--04-text-1, #CDC2D1);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Alegreya SC";
            font-size: 28px;
            font-style: normal;
            font-weight: 500 !important;
            line-height: 120%; /* 33.6px */
            display: flex;
            gap: 10px;

            @include media ($sm) {
                color: var(--04-text-1, #CDC2D1);
                /* mob h3 */
                font-family: "Alegreya SC";
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 22px */
            }
        }

        &-subscribes {
            display: flex;
            gap: 10px;
        }

        &-counter {
            color: var(--05-success-main, #4A7548);
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* PC/Button 1 */
            font-family: "Alegreya SC";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
        }
    }
}