* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alegreya;
    //border: 1px solid red;
}

::selection {
    background: #6e328484;
    color: #fff; 
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6E3284;
}


body {
    background: #1D1D1D;
    position: relative;

    &::after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.626) 91.26%, #000 100%), linear-gradient(180deg, #070407 0%, rgba(33, 26, 37, 0.00) 88.08%), linear-gradient(90deg, rgba(0, 0, 0, 0.90) 0%, rgba(5, 16, 15, 0.95) 50%, rgba(0, 0, 0, 0.90) 100%), lightgray 50% / cover no-repeat;
    }
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    object-fit: cover;
}

section {
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.red {
    color: var(--02-Accent-1, #E44653) !important;
}

.form {
    background: url('@/assets/images/backgrounds/events-form.png') no-repeat center /cover;
}

.title {
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;

    /* PC/H2 */
    font-family: "Alegreya SC";
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 46px */
    background: var(--04-text-h1-style, linear-gradient(90deg, #CBBECD 0%, #FFF 46.5%, #CBBECD 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-sticked {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        &::after {
            content: '';
            width: 182px;
            height: 6px;
            background: url('@/assets/images/sticked/bg-right.png');

            @include media ($md) {
                display: none;
            }
        }

         &::before {
            content: '';
            width: 182px;
            height: 8px;
            background: url('@/assets/images/sticked/bg-left.png');

            @include media ($md) {
                display: none;
            }
        }
    }

    @include media ($sm) {
        font-size: 26px;
    }
}

.text {
    color: var(--04-text-main, #EEE0F1);
    font-variant-numeric: lining-nums proportional-nums;

    /* PC/p3 */
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */

    &-arial {
        font-family: Alegreya, "Alegreya Fallback: Arial";
    }
}

.profile {
    background: url('@/assets/images/backgrounds/profile-bg.png') no-repeat center /cover;

    &__sidebar {
        &-links {
            &.router-link-active {
                background: var(--03-dark-3, #422748);
            }
        }
    }
}

.login {
    background: url('@/assets/images/backgrounds/login-registr-bg.png') no-repeat center /cover;
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.25s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.checkbox {
    background-color: transparent;
}
.checkbox.active {
    background-color: #86489C;
    border-color: #86489C;
}

input[type="file"] {
    opacity: 0;
}

.scroll-animate-enter-active,
.scroll-animate-leave-active {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.scroll-animate-enter-from,
.scroll-animate-leave-to {
    transform: translateY(50px);
    opacity: 0;
}

.scroll-animate-enter-to,
.scroll-animate-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.v-select {
    display: block !important;
    /* padding: 15px !important; */
    font-size: 20px !important;
    color: #fff !important;
    width: 100% !important;
    /* border: 1px solid #6b6b6b !important;  */
    border-radius: 5px !important;
    background-color: #1a1520 !important; /* bg-deep-dark */
    box-sizing: border-box !important;
}

.v-select .vs__dropdown-toggle {
    padding: 15px !important;
    font-size: 20px !important;
    color: #fff !important;
    background-color: #1a1520 !important;
    border: 1px solid #6b6b6b !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.v-select .vs__dropdown-toggle:focus {
    outline: none !important;
    border-color: #6f4f9d !important; /* focus:border-purple-mid */
    box-shadow: none !important;
}

.v-select .vs__placeholder {
    color: #999 !important; /* placeholder:text-gray-mid */
}

.v-select .vs__dropdown-menu {
    background-color: #1a1520 !important;
    color: #fff !important;
    border: 1px solid #6b6b6b !important;
    border-radius: 5px !important;
    max-height: 250px !important;
    overflow-y: auto !important;
}

.v-select .vs__dropdown-option {
    padding: 10px 15px !important;   
}

.vs__selected {
    background: #6E3284 !important;
    color: #FFFFFF !important;
    display: block !important;
    align-items: center !important;
}

.vs__deselect {
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.v-select--error .vs__dropdown-toggle {
    border-color: #ef4444 !important; 
}


.v-select--success .vs__dropdown-toggle {
    border-color: #22c55e !important; 
}

.registration__form  {
    background: none !important;
}


.loader {
    width: 28px;
    height: 28px;
    border: 5px solid #FFF;
    border-bottom-color: #86489C;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.dropdown-enter-active,
.dropdown-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top;
}

.dropdown-enter-from,
.dropdown-leave-to {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
}

.dropdown-enter-to,
.dropdown-leave-from {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px; /* достаточно для дропдауна */
}



.dp__theme_dark {
    font-family: 'Alegreya', sans-serif;

    --dp-background-color: var(--color-blackish) !important;
    --dp-text-color: #fff !important;
    --dp-hover-color: var(--color-deep-dark) !important;
    --dp-hover-text-color: #fff !important;

    --dp-primary-color: var(--color-purple-dark) !important;
    --dp-primary-disabled-color: var(--color-purple-mid) !important;
    --dp-primary-text-color: #fff !important;

    --dp-secondary-color: var(--color-gray-mid) !important;

    --dp-border-color: var(--color-dark);
    --dp-border-color-hover: var(--color-purple-light) !important;
    --dp-border-color-focus: var(--color-purple-light) !important;
    --dp-menu-border-color: var(--color-dark) !important;

    --dp-disabled-color: var(--color-gray-mid) !important;
    --dp-disabled-color-text: var(--color-gray-light) !important;

    --dp-icon-color: var(--color-purple-light) !important;
    --dp-hover-icon-color: var(--color-purple-light) !important;

    --dp-scroll-bar-background: var(--color-blackish) !important;
    --dp-scroll-bar-color: var(--color-purple-mid) !important;

    --dp-success-color: var(--color-green-mid) !important;
    --dp-success-color-disabled: #6fa973 !important;

    --dp-danger-color: var(--color-red-main) !important;
    --dp-marker-color: var(--color-red-accent) !important;

    --dp-tooltip-color: var(--color-dark) !important;

    --dp-highlight-color: rgba(106, 59, 123, 0.25) !important;
    --dp-range-between-dates-background-color: rgba(106, 59, 123, 0.15) !important;
    --dp-range-between-dates-text-color: #fff !important;
    --dp-range-between-border-color: var(--color-purple-light) !important;

    --dp-input-padding: 15px !important;
}